<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Performance Test Engineer III</h3>
                            <div class="time">January 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Wolters Kluwer Tax & Accounting US</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working as Performance Test Engineer III</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Performance test engineer II</h3>
                            <div class="time">June 2015 – December 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Wolters Kluwer Tax & Accounting US</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as Performance Test Engineer II.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior System Engineer</h3>
                            <div class="time">July 2011 – May 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Infosys</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as Senior System Engineer.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->